// 全ページで共通化したいスタイルはここ。
* {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: .2em;
}

.wrap {
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 24px;
}

hr {
  border: none;
  border-top: 1px solid $black;
}

ul {
  padding: 0;
}

.wrap {
  color: $black;
  height: 100vh;
  padding: 0 30px;
  position: relative;

  &._wide {
    padding: 0;
  }

  &._center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.bg-gra_one {
    background: linear-gradient(to bottom, rgba(#e8a, 0.5), rgba($y, 0.5));
    height: 100vh;
  }

  .content {
    @include min-mq(sm) {
      width: 600px;
    }
  }
}